body{
    font-family: 'Poppins', sans-serif;
}




section{
    height: 500px;
    background: white;
    border: solid black 1px;
}

.hero{
    background: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}
footer{
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    font-size: 30px;
}
li{
    width: 200px;
    text-decoration: none;
}
h1{
    font-size: 90px;
    margin: 0;
}
p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.hero-area{
    display: flex;
    
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}
.button{
    width: 149px;
    height: 50px;
    border-radius:  40px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;

}
.button:hover{
    background-color: #948d8a;
}
.button:active{
    background-color: darkgrey;
    color: #808080;
}
.socials{
    padding-bottom: 200px;
}
.LOGO{
    height: 1px;
    margin:  10px;
}
.social{
    margin: 20px
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
h2{
    font-size: 70px;
}